# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
.Python
env/
build/

# IDE files
.idea/
.vscode/

# Environment variables
.env
.venv
env
venv

# Log files
*.log

# Compiled Python files
*.pyc

# Database
*.db

# Miscellaneous
.DS_Store
